body{
  background-color:#C3F8FF;
}

hr{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width:15%;
}

h1{
  color: #8758FF;
}

h3{
  color: #B1B2FF;
}

img{

}
